<div class="col-md-8-offset-2">
  <h1>
    All Recipes
  </h1>

    <%= render partial: 'search', locals: { recipe: @recipe}  %>

    <% if !params[:q] %>
  <div class="all-recipes">
    <% @recipes.each do |recipe| %>
      <h4><%= link_to recipe.title, recipe %></h4>
    <% end %>
  <% end %>
  </div>
</div>
