<div class="jumbotron landing">
  <h1 class="linkit">myCookbook</h1>
  <p>Save and organize your favorite recipes</p>
</div>

<div class="row landing">
  <div class="home home-left col-md-4">
    <h2>Create</h2>
    <p>Save your recipe and upload a photo of your creation</p>
  </div>
  <div class="home center-card col-md-4">
    <h2>Search</h2>
    <p>Find your favorite recipe quickly without scrolling</p>
  </div>
  <div class="home home-right col-md-4">
    <h2>Organize</h2>
    <p>Group your recipes into categories of your choosing</p>
  </div>
</div>
