<div class="jumbotron landing">
  <h1 class="linkit">myCookbook</h1>
  <p>Save and organize all your favorite recipes</p>
</div>

<div class="row landing">
  <div class="home col-md-4">
    <h2>Create</h2>
    <p>Add new recipe cards and upload a photo</p>
  </div>
  <div class="home center-card col-md-4">
    <h2>Search</h2>
    <p>Find your favorite recipe without scrolling</p>
  </div>
  <div class="home col-md-4">
    <h2>Organize</h2>
    <p>Create categories to easily find your favorite recipes</p>
  </div>
</div>
