/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.jumbotron {
  text-align: center;
  background: #ffff!important;
}

.jumbotron h1 {
  color: #3ab0b7
}

body {
  background: #f5f5f5;
}

.search-result a {
  color: #1c1c1c;
}

.search-input {
  border-radius: 3px;
}

table {
  margin-top: 60px;
}

.search .btn {
  padding-top: 3px!important;
  padding-bottom: 3px!important
}

.search {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-default {
  background:#3ab0b7;
  border-color: #3ab0b7;
  color:#ffff;
  font-weight: bold;
}

.btn-danger {
  background: #d06a67;
  font-weight: bold;
  border-color: #d06a67;
}

h1 {
  text-align: center;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.title .btn {
  float: right;
  margin-top: 20px;
}

.edit-delete {
  text-align: center;
}

.categories {
  margin-top: 80px;
}

.categories a {
  color: #3ab0b7;
}

.all-recipes {
  margin-top: 80px;
}

.col-md-8-offset-2 {
  padding: 20px;
  border-radius: 5px;
  background: white;
  width: 600px;
  margin: auto;
}

.home {
  background: #ffff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.home-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.home-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 991px) {
  .home-left {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
  .home-right {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
  }
}

.containter {
  margin-left: 0!important;
  margin-right: 0!important;
}
.nav {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 20px;
}

.nav, .signin {
  background:#1c1c1c;
  color: #ffff;
}

.signin a, .nav a {
  color: #ffff;
}

.signin {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}

.nav a:hover {
  color: #000000!important;
}

.new-title {
  margin-bottom: 40px;
}

a {
  color:#1c1c1c
}

.add {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 0;
  font-size: 25px;
}

.recipes {
  padding-top: 80px;
}

.recipe-photo {
  margin-top: 30px;
  text-align: center!important;
}

.photo {
  max-width: 400px!important;
  max-height: 400px!important;
}
