
<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<table>
  <tbody>
    <% if params[:q] %>
    <% @categories.each do |category| %>
      <tr>
        <td>
        <%=category.name %>
      </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
