<div class="col-md-8-offset-2">
  <h1>Edit Category</h1>
  <%= form_for @category do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Category name' %>
    </div>
    <%= f.submit "Save", class: 'btn btn-default' %>
  <% end %>
</div>
